<div class="container mt-3">

  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card pb-5 shadow">
      <div class="card-body">
        <h1 class="card-title"><%= @num_projects %></h1>
        <p>Projects</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card pb-5 shadow">
      <div class="card-body">
        <h1 class="card-title"><%= total_seconds_to_hours(@total_time) %></h1>
        <p>Total time tracked</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card pb-5 shadow">
      <div class="card-body">
        <h1 class="card-title"><%= @num_milestones %></h1>
        <p>Milestones</p>
      </div>
    </div>
  </div>
</div>

  <button onClick='showProjectForm()' class="btn btn-primary mt-5">Add Project</button>


  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Project</th>
        <th>Last Worked On</th>
        <th>Total Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="new-project-form" colspan="3" style="display: none">
          <%= render "projects/form", project: @project%>
        </td>
      </tr>
      <% if current_user.projects.length > 0 %>
        <% current_user.projects.each do |project| %>
          <tr>
            <td><%= link_to project.name, project %></td>
            <td><%= project.last_worked_on.to_date %></td>
            <td><%= total_seconds_to_hours_minutes(project.total_time) %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">
            <p class="text-center">No projects. Create a new project to get started</p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


<script>
  function showProjectForm() {
    var element = document.getElementById("new-project-form");
    element.style.display = "";
    document.getElementById("new-project-name").focus();
  }
</script>