<%= stylesheet_link_tag 'chart-style.css' %>
<%= stylesheet_link_tag 'milestone-style.css' %>

<div class="container-lg">
  <h1 class="mb-5"><%= @project.name %></h1>

  <div class="row w-75 mx-auto">
    <div class="col-md-auto">
      <div class="card pb-1 shadow px-5 h-100 my-2">
        <div class="card-body">
          <%= render "projects/timer" %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card pb-1 shadow h-100 my-2">
        <div class="card-body">
          <%= render "milestones/form", milestone: @milestone %>
          <ul class="list-group list-group-flush border-top mt-2" id="milestone-card-list">
            <% @project.milestones.each do |milestone| %>
              <% if milestone.created_at %>
                <li class="list-group-item">
                  <b><%= milestone.created_at.to_date %></b> <%= milestone.description %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div hidden>
      <%= render "sessions/form", session: @session %>
  </div>

  <%= area_chart [[]],
    class: 'box',
    code: false,
    options: {
      xAxis: {
        type: "time",
        data: [],
        minInterval: 86400000,
        axisLabel: {
          formatter: "{MM}/{dd}"
        }
      },
      yAxis: {
        name: "Cumulative Time (hours)",
        nameLocation: "middle",
        nameGap: 50,
        nameTextStyle: {
          fontSize: 18,
          fontWeight: "bolder"
        }
      },
      series: {
        data: @project.for_line_chart_2[:data],
        markPoint: {
          data: @project.for_line_chart_2[:points],
          symbol: "circle",
          symbolSize: 10
        }
      },
      tooltip: {
        show: true,
        confine: true,
        formatter: RailsCharts.js('(value) => {
          let text = "<b>" + value[0].data[0] + "</b><br>"
          text += "Cumulative Time: " + value[0].data[1].toFixed(2) + " hours"

          if (value[0].data.length > 2) {
            text += "<br><br><b>Milestones:</b>"
            for (let i = 2; i < value[0].data.length; i++) {
              text += "<br><p>" + value[0].data[i] + "</p>"
            }
          }
          return text
        }'),
        className: 'echarts-tooltip echarts-tooltip-dark',
        appendToBody: true
      },
      dataZoom: [{
        start: 0,
        end: 100,
      }],
    }
  %>


<%= calendar_chart @project.for_calendar_chart,
  class: 'box',
  code: false,
  options: {
    visualMap: {
      show: false,
      min: 0,
      max: 40,
      orient: 'horizontal'
    },
    calendar: [{
      range: [ Date.today.prev_month(4).strftime("%Y-%m-01"), Date.today.strftime("%Y-%m-%d")],
      yearLabel: { show: false },
      cellSize: ['auto', 20],
    },]
  }
%> 

Hello
<%= Date.today.prev_month(4).strftime("%Y-%m-%d") %>

  
</div>


<%= javascript_import_module_tag "echarts" %>

<%= javascript_import_module_tag "session-timer" %>