<div class="container-lg">
  <h1 class="mb-5"><%= @project.name %></h1>
  <%= button_to 'Delete project', project_path(@project), method: :delete,
    data: {turbo: true, "turbo_method": :delete} 
  %>

  <div class="row w-75 mx-auto">
    <div class="col-md-auto">
      <div class="card pb-1 shadow px-5 h-100 my-2">
        <div class="card-body">
          <%= render "projects/timer" %>
        </div>
      </div>
    </div>
    <%
=begin%>
 <div class="col">
      <div class="card pb-1 shadow h-100 my-2">
        <div class="card-body">
          <%= render "milestones/form", milestone: @milestone %>
          <ul class="list-group list-group-flush border-top mt-2" id="milestone-card-list">
            <% @project.milestones.each do |milestone| %>
              <% if milestone.created_at %>
                <li class="list-group-item">
                  <b><%= milestone.created_at.to_date %></b> <%= milestone.description %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div> 
<%
=end%>
  </div>

  <div hidden>
      <%= render "sessions/form", session: @session %>
  </div>
</div>