<h1><%= @project.name %></h1>

<div class="timer">
    <p class="timer-time"><span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span></p>
    <div class="timer-controls">
        <button class="primary-button" id="button-start">Start</button>
        <button class="primary-button" id="button-end">End</button>
        <button hidden id="button-reset">Reset</button>
    </div>
</div>

<div hidden>
    <%= render "sessions/form", session: @session %>
</div>

<%= calendar_chart @project.for_calendar_chart,
  class: 'box',
  code: false,
  options: {
    visualMap: {
      show: false,
      min: 0,
      max: 40,
      orient: 'horizontal'
    },
    calendar: [{
      range: ['2023-01-01', '2023-05-31'],
      yearLabel: { show: false },
    },]
  }
%>

<%= javascript_import_module_tag "echarts" %>

<%= javascript_import_module_tag "session-timer" %>